body {
    background-image: url(edit_final.png);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

h1 {
    color: orange;
    place-self: center;
    text-decoration: orangered;
    font-family: fantasy;
}

div {
    margin-top: 220px;
    align-self: center;
}

input {
    margin-top: 10px;
    text-align: center;
    display: list-item;
    box-shadow: 5px 5px 10px black;
    width: 50;
}

div button {
    background-color: orange;
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    color: black;
}


/* 
.container_entry {
    background-image: url(edit_final.png);
} */