
p {
    color: black;
    background-color: orange;
    align-self: center;
    text-align: center;
    /* font-style: italic; */
    font-family: cursive;
    font-size: larger;
  }

h1{
    color: green;
    size: 30px;
    text-align: center;
}

#la
{
    width: 100x;
    height: 100px;
}
#ra
{
    margin-left: 350px;
    width: 100x;
    height: 100px;
}

img {
 
    margin-left: 400px;
}

table
{
    /* background-color: orange; */
    font-size: 20px;
    margin-left:350px;
}