     /* title {
         margin-bottom: 10px;
         text-align: center;
         width: 210px;
         color: red;
     } */
     
     input[type="button"] {
         background-color: burlywood;
         color: black;
         padding: 30px;
         font-size: 40px;
         width: 100%;
     }
     
     input[type="text"] {
         background-color: white;
         padding: 30px;
         font-size: 40px;
         border: solid black 2px;
         width: 100%
     }
     
     tr {
         padding-left: 10px;
         padding-top: 20px;
     }