/* card layout */


/* div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}

div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

div .container {
    padding: 2px 16px;
} */


/* ------------- */


/*  top tabs button layout */

div.tab_layout {
    background-color: rgb(254, 247, 245);
    background-image: url(images/libray_banner.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
    text-align: right;
    border-radius: 5px;
    padding: 20px;
}

p.tab {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightcyan;
    color: lightseagreen;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.tab:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

frame {
    size: 40px;
    background-image: url(images/no_data_back.jpg);
    margin: 10px;
    background-size: 300px;
    display: inline-block;
}


/* ------------------------- */


/* search  */

label {
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

input.search_input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}


/* ------------------ */


/* view add and update layouts */

section.layout {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: block;
}

#view {
    display: block;
    /* background-image: url("images/no_data_back.jpg"); */
}


/* div.add_div {
    display: block;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */


/* add and update layout's elements */

h4 {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    display: list-item;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

p.button {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightcyan;
    color: lightseagreen;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}